body {
    position: relative;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-position: inherit;
    filter: blur(8px) brightness(1.8);
    z-index: -1;
}

header{
    background-color: transparent;
    padding: 10px;
    text-align: center;
    border-radius: 1px 1px 10px 10px;
}

#navegador{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 1px 1px 10px 10px;
    color: gold;

}
#logotipo{
    width: 210px;
    height: 80px;
    border-radius: 10px;
    margin: 0 auto;
}

#opcion_navegador{
    color: rgb(179, 153, 9);
    font-weight: bold;
    border-radius: 10px;
}

#opcion_navegador:hover{
    color: gold;
    background-color:rgba(0, 0, 0, 0.319);
}

#boton_navegador{
    margin-top: 0.2em;
    color: rgba(255, 255, 255, 0.705);
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid gold;
}

#boton_navegador:hover{
    color: gold;
    background-color:black;
    border-radius: 10px;
    border: 2px solid gold;
}

h1{
    -webkit-text-stroke: 0.6px black; /* Ancho y color del borde */
    text-shadow: gold 1px 8px 6px;
    border-radius: 10px;
    font-size: 3.5em;
    text-align: center;
    background: linear-gradient(to top, gold, rgba(223, 110, 5, 0.87));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#informacion_1{
    background-color: rgba(240, 255, 255, 0.219);
    border-radius: 10px;
    align-content: center;
    text-align: justify;
}
#informacion_1 p{
    color: #000;
    font-size: 1.5em;
}
#imagen_2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto; 
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
}

 @keyframes spin { /*Animación para el giro del carusel */
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#carusel{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#carusel_presentacion{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --angle { /* Propiedad personalizada para el ángulo de rotación */
    syntax: "<angle>"; /* Define el tipo de valor esperado */
    initial-value: 0deg; /* Valor inicial */
    inherits: false; /* No hereda de los elementos padre */
}

#carusel_presentacion::after,#carusel_presentacion::before{
    
    content: '';
    position: absolute;
    height: 102%;
    width: 102%;
    background-image: conic-gradient(from var(--angle),red, blue, green, yellow, red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    border-radius: 30px;
    animation: 3s spin linear infinite;
}

#carusel_presentacion::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#imagenes_carusel{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
}

h2{
    -webkit-text-stroke: 0.4px black; /* Ancho y color del borde */
    font-size: 3em;
    text-align: center;
    color: gold;
    text-shadow: black 0px 8px 5px;
    margin-bottom: 1em;
}

#tarjeta_1{
    background-color: #000;
    color: gold;
}

#tarjeta_1 a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: gold;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em 4em;
    /* background-color: aliceblue; */
}

#imagenes_cards{
    height: 300px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
}

footer{
    background-color: rgba(77, 77, 77, 0.384);
    padding: 10px;
    text-align: center;
    border-radius: 1px 1px 10px 10px;
}
footer h3{
    color: gold;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 1px 1px 10px 10px;
}
footer i{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 1px 1px 10px 10px;
}
#mapa{
    border-radius: 10px;
    margin: 0 auto;
}
#mapa iframe{
    width: 90%;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
}

footer ul{
    list-style-type: none; /* Elimina los puntos de la lista */
}
footer ul li{
    margin: 0 10px; /* Espacio entre los elementos de la lista */
    color: gold;
    text-shadow: 2px 2x 2px black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 1px 1px 10px 10px;
}